$fuentePrincial : 'Montserrat', sans-serif;;



//colores

$verde: #4cb8b3;
$rojo: #d1273f;
$amarillo: #fef46d;
$morado: #752f97;
$gris: #1b1b1b;
$negro: #000000;
$blanco: #ffffff;



//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;




//Funtes 
$delgada: 300;
$regular: 400; 
$bold: 700;
$black: 900;


// Separaciones

$separacion: 1.5rem;
